---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import MediumIcon from '@/components/icons/Medium'
import GithubIcon from '@/components/icons/Github'
import LinkedInIcon from '@/components/icons/LinkedIn'
import InstagramIcon from '@/components/icons/Instagram'
import TwitterIcon from '@/components/icons/Twitter'
---

<Layout title="Emily Y Leung">
	<div class="px-4 mx-auto bg-slate-200 min-h-screen grid place-content-center py-10 gap-6">
		<div class="max-w-2xl">
			<div class="text-slate-400 font-bold text-3xl">
			<span class="text-slate-800">Emily Y Leung</span> is a{` `}
			<span class="text-cyan-600">Systems Developer</span> with a
			background in{` `}
			<span class="text-slate-500">Computational Design</span>.
			</div>
		</div>
		<div class="max-w-2xl">
			<div class="text-slate-400 font-bold text-3xl">
				Currently designing and building web-based solutions at{` `}
			<span class="text-cyan-600">Architectus Digital</span>.
			</div>
		</div>
		<div class="grid grid-flow-col place-items-center auto-cols-min gap-4">
			<a
				target="_blank"
				rel="noreferrer"
				href="https://emily-y-leung.medium.com/"
			>
				<MediumIcon />
			</a>
			<a
				target="_blank"
				rel="noreferrer"
				href="https://github.com/emilyyleung"
			>
				<GithubIcon />
			</a>
			<a
				target="_blank"
				rel="noreferrer"
				href="https://www.linkedin.com/in/emily-y-leung/"
			>
				<LinkedInIcon />
			</a>
			<a
				target="_blank"
				rel="noreferrer"
				href="https://www.instagram.com/emily_y_leung/"
			>
				<InstagramIcon />
			</a>
			<a
				target="_blank"
				rel="noreferrer"
				href="https://twitter.com/emily_y_leung"
			>
				<TwitterIcon />
			</a>
		</div>
		<div class="grid grid-flow-col auto-cols-min gap-4 text-xl select-none">
			<a
				target="_blank"
				class="underline hover:text-orange-400 text-slate-500"
				rel="noreferrer"
				href="https://emilyyleung.github.io/eleventy-bragdoc/"
			>
				Bragdoc
			</a>
			<!-- <Link rel="noreferrer" href="/blog">
				<a class="underline hover:text-orange-400 text-slate-500">
				Blog
				</a>
			</Link> -->
		</div>
	  </div>
</Layout>